main-local.php
params-local.php
.idea/*
.idea
/.idea
/.idea/*
vendor
vendor/*
/vendor
/vendor/*
/frontend/web/uploads/*
node_modules

frontend/web/.htaccess
frontend/web/uploads/profiles
frontend/web/uploads/profiles/
frontend/web/uploads/profiles/*

nohup.out
.nohup.out.swp